:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  background-image: url('/images/bg-desktop.svg');
  background-size: contain;
  background-color: var(--violet);
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  width: 90vw;
  margin: 2rem auto;
}

main {
  width: 90vw;
  margin: 2rem auto;
}

figure {
  border: 1px solid black;
  padding: 2.5rem;
}
